* {

	margin: 0;
}

header {


	text-align-last: center;
	background: lightgreen;
	border: 3px solid yellow;
}

aside {

	margin-top: 20px;
	/*border-radius: 20px;*/
	/*background-color: violet;*/
	margin-left: 10px;
	text-shadow: 2px 2px 10px orange;
}

.images {

	margin-top: 20px;
	margin-left: 10px;

}

img {
	border-radius: 80px;
	/*transform: rotate(-5deg);*/

}


.images,.dps {

  background-color: orange;
  padding: 15px;
  text-align: center;
  justify-content: center;
  margin-bottom: 45px;
}

img:hover {

	border: 5px solid purple;
	transition-delay: 0.1s;

}

.dps {

	/*transform: rotate(-5deg);*/
}